@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background-color: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: #484848;
  border-radius: 1vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #212121;
}

.card {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  width: 30rem;
  height: 32rem;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
}
.card:hover {
  height: 45rem;
}
.card__image {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  gap: 2rem;
}
.card__text-primary {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #212121;
}
.card__text-secondary {
  font-size: 1.4rem;
  color: rgba(33, 33, 33, 0.8);
}
.card__tools {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.card__tool {
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #484848;
}
.card__links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 2rem;
}
.card__link {
  text-decoration: none;
  font-size: 1.6rem;
  width: 45%;
  text-align: center;
  color: #212121;
  font-weight: 500;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid #212121;
  transition: all 0.2s;
}
.card__link:hover {
  border: 1px solid rgb(100, 196, 100);
  color: rgb(100, 196, 100);
}

.hero {
  clip-path: polygon(100% 0%, 0% 0%, 0% 91.67%, 1% 91.68%, 2% 91.73%, 3% 91.82%, 4% 91.93%, 5% 92.07%, 6% 92.24%, 7% 92.43%, 8% 92.64%, 9% 92.86%, 10% 93.1%, 11% 93.33%, 12% 93.57%, 13% 93.8%, 14% 94.03%, 15% 94.24%, 16% 94.43%, 17% 94.59%, 18% 94.74%, 19% 94.85%, 20% 94.93%, 21% 94.98%, 22% 95%, 23% 94.98%, 24% 94.93%, 25% 94.85%, 26% 94.73%, 27% 94.59%, 28% 94.42%, 29% 94.23%, 30% 94.02%, 31% 93.8%, 32% 93.57%, 33% 93.33%, 34% 93.09%, 35% 92.86%, 36% 92.64%, 37% 92.43%, 38% 92.24%, 39% 92.07%, 40% 91.93%, 41% 91.82%, 42% 91.73%, 43% 91.68%, 44% 91.67%, 45% 91.68%, 46% 91.74%, 47% 91.82%, 48% 91.93%, 49% 92.08%, 50% 92.25%, 51% 92.44%, 52% 92.65%, 53% 92.87%, 54% 93.1%, 55% 93.34%, 56% 93.58%, 57% 93.81%, 58% 94.03%, 59% 94.24%, 60% 94.43%, 61% 94.6%, 62% 94.74%, 63% 94.85%, 64% 94.93%, 65% 94.98%, 66% 95%, 67% 94.98%, 68% 94.93%, 69% 94.85%, 70% 94.73%, 71% 94.59%, 72% 94.42%, 73% 94.23%, 74% 94.02%, 75% 93.8%, 76% 93.56%, 77% 93.33%, 78% 93.09%, 79% 92.86%, 80% 92.63%, 81% 92.43%, 82% 92.24%, 83% 92.07%, 84% 91.93%, 85% 91.81%, 86% 91.73%, 87% 91.68%, 88% 91.67%, 89% 91.68%, 90% 91.74%, 91% 91.82%, 92% 91.94%, 93% 92.08%, 94% 92.25%, 95% 92.44%, 96% 92.65%, 97% 92.87%, 98% 93.11%, 99% 93.34%, 100% 93.58%);
  height: 100vh;
  background-image: linear-gradient(to right bottom, #ffffff, #c7c7c7);
}
.hero__image {
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(1rem 2rem 2rem black);
}

.nav {
  height: 8rem;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo-container {
  height: 100%;
}
.nav__logo {
  height: 100%;
}
.nav__links {
  display: flex;
  gap: 2rem;
}
.nav__link {
  text-decoration: none;
  color: #212121;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.footer {
  height: 6rem;
  background-color: #fafafa;
  box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.6);
}

.section__about {
  clip-path: polygon(100% 0%, 0% 0%, 0% 91.67%, 1% 91.68%, 2% 91.73%, 3% 91.82%, 4% 91.93%, 5% 92.07%, 6% 92.24%, 7% 92.43%, 8% 92.64%, 9% 92.86%, 10% 93.1%, 11% 93.33%, 12% 93.57%, 13% 93.8%, 14% 94.03%, 15% 94.24%, 16% 94.43%, 17% 94.59%, 18% 94.74%, 19% 94.85%, 20% 94.93%, 21% 94.98%, 22% 95%, 23% 94.98%, 24% 94.93%, 25% 94.85%, 26% 94.73%, 27% 94.59%, 28% 94.42%, 29% 94.23%, 30% 94.02%, 31% 93.8%, 32% 93.57%, 33% 93.33%, 34% 93.09%, 35% 92.86%, 36% 92.64%, 37% 92.43%, 38% 92.24%, 39% 92.07%, 40% 91.93%, 41% 91.82%, 42% 91.73%, 43% 91.68%, 44% 91.67%, 45% 91.68%, 46% 91.74%, 47% 91.82%, 48% 91.93%, 49% 92.08%, 50% 92.25%, 51% 92.44%, 52% 92.65%, 53% 92.87%, 54% 93.1%, 55% 93.34%, 56% 93.58%, 57% 93.81%, 58% 94.03%, 59% 94.24%, 60% 94.43%, 61% 94.6%, 62% 94.74%, 63% 94.85%, 64% 94.93%, 65% 94.98%, 66% 95%, 67% 94.98%, 68% 94.93%, 69% 94.85%, 70% 94.73%, 71% 94.59%, 72% 94.42%, 73% 94.23%, 74% 94.02%, 75% 93.8%, 76% 93.56%, 77% 93.33%, 78% 93.09%, 79% 92.86%, 80% 92.63%, 81% 92.43%, 82% 92.24%, 83% 92.07%, 84% 91.93%, 85% 91.81%, 86% 91.73%, 87% 91.68%, 88% 91.67%, 89% 91.68%, 90% 91.74%, 91% 91.82%, 92% 91.94%, 93% 92.08%, 94% 92.25%, 95% 92.44%, 96% 92.65%, 97% 92.87%, 98% 93.11%, 99% 93.34%, 100% 93.58%);
  z-index: -1;
  position: relative;
  height: 40vh;
  background-color: #fafafa;
  transform: translateY(-40%);
}
.section__about .about__container {
  width: 100rem;
  padding: 10rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section__about .about__description {
  margin-top: 8rem;
  font-size: 2rem;
  letter-spacing: 0.05rem;
  line-height: 3rem;
}

.section__projects {
  height: 50vh;
  transform: translateY(-20%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 3rem;
}

/*# sourceMappingURL=output.css.map */
