//Primary Colors (Grey)
$color-primary: #fafafa;
$color-primary-light: #ffffff;
$color-primary-dark: #c7c7c7;

//Secondary Colors (Dark Grey)
$color-secondary: #212121;
$color-secondary-light: #484848;
$color-secondary-dark: #000000;

//Text Used On Primary Color Components
$text-primary: #000000;

//Text Used On Secondary Color Components
$text-secondary: #ffffff;
