.footer {
  height: 4rem;
  background-color: $color-primary;
  box-shadow: 0 0rem 1rem rgba($color-secondary-dark, 0.2);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  color: $color-secondary-light;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
}
