.hero {
  @include clipPath;

  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  &__image {
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    filter: drop-shadow(1rem 2rem 2rem rgba($color-secondary-dark, 1));
  }
}
